---
---

<section class="flex gap-5 p-10">
  <div class="bg-[#093830] p-8 grow text-[#c79940] rounded-2xl">
    <h2 class="text-center font-semibold text-4xl ">Available</h2>
    <h4 class="text-center font-semibold">Same day delivery</h4>
  </div>
  <div class="bg-[#093830] p-8 grow text-[#c79940] rounded-2xl">
    <h2 class="text-center font-semibold text-4xl ">95.0%</h2>
    <h4 class="text-center font-semibold">Color Accuracy</h4>
  </div>
  <div class="bg-[#093830] p-8 grow text-[#c79940] rounded-2xl">
    <h2 class="text-center font-semibold text-4xl ">100%</h2>
    <h4 class="text-center font-semibold">Eco-Friendly</h4>
  </div>
  <div class="bg-[#093830] p-8 grow text-[#c79940] rounded-2xl">
    <h2 class="text-center font-semibold text-4xl ">Over 300 AED</h2>
    <h4 class="text-center font-semibold">Free Delivery</h4>
  </div>
  
</section>