---
---
<section class="p-12">
  <h2 class="text-3xl font-bold mb-6">Let's Start Your Project</h2>

  <form class="grid grid-cols-1 md:grid-cols-3 gap-6 items-end">
    <div class="col-span-1 md:col-span-1">
      <label class="block font-medium mb-2">Full Name</label>
      <input
        type="text"
        placeholder="John Doe"
        class="w-full rounded-full bg-[#c7d3cf] px-8 py-4 outline-none text-black placeholder:opacity-70"
      />
    </div>

    <div class="col-span-1 md:col-span-1">
      <label class="block font-medium mb-2">Email Address</label>
      <input
        type="email"
        placeholder="you@example.com"
        class="w-full rounded-full bg-[#c7d3cf] px-8 py-4 outline-none text-black placeholder:opacity-70"
      />
    </div>

    <div class="col-span-1 md:col-span-1">
      <label class="block font-medium mb-2">Phone Number</label>
      <input
        type="tel"
        placeholder="+971 98765 43210"
        class="w-full rounded-full bg-[#c7d3cf] px-8 py-4 outline-none text-black placeholder:opacity-70"
      />
    </div>

    <div class="col-span-1 md:col-span-2">
      <label class="block font-medium mb-2">Message</label>
      <textarea
        rows="1"
        placeholder="Tell us about your Business..."
        class="w-full rounded-full bg-[#c7d3cf] px-8 py-4 resize-none outline-none text-black placeholder:opacity-70"
      ></textarea>
    </div>

    <div class="col-span-1 md:col-span-1 flex">
      <button
        type="submit"
        class=" items-center flex justify-between grow gap-4 rounded-full px-8 py-4 text-white font-semibold text-lg
               bg-linear-to-r from-[#0f3a33] via-[#15483f] to-[#8b6f3a]
               shadow-lg hover:scale-[1.01] transition-transform duration-200"
      >
        <span>Send Message</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
          <path d="M22 2L11 13" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M22 2L15 22l-4-9-9-4 20-7z" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
  </form>

</section>