---

---

<section class="bg-[#ece0c6] p-7 mt-[60px]">
  <h3
    class="inline-block px-6 py-2 rounded-full text-white
           bg-[#093830]
           shadow-[inset_0_0_8px_rgba(255,255,255,0.35),0_4px_10px_rgba(0,0,0,0.3)]
           text-sm font-medium tracking-wide"
  >
    Premium Printing Solution
  </h3>
  <h1 class="text-5xl p-3 mt-2">
    Transform Your <br />
    Ideas Into Print
  </h1>
  <p class="text-black font-medium text-lg p-3 mt-2 w-1/3">
    Professional Printing Services for businesses of all sizes. <br /> From business
    cards to large format banners, we deliver ex-ceptional quality everytime.
  </p>

  <div class="flex gap-4 mt-3">
    <h3
      class="px-6 py-2 rounded-lg text-white
           bg-[#093830]
           text-sm font-medium tracking-wide"
    >
      GET STARTED
    </h3>
    <h3
      class="px-6 py-2 rounded-lg text-white
           bg-[#093830]
           text-sm font-medium tracking-wide"
    >
      VIEW PORTFOLIO
    </h3>
  </div>

  <div class="flex mt-4 divide-x">
    <div class="pr-7">
      <h2 class="text-5xl font-bold">10K+</h2>
      <p class="font-medium ml-1">Project Completed</p>
    </div>
    <div class="px-7">
      <h2 class="text-5xl font-bold">500+</h2>
      <p class="font-medium ml-1">Happy Clients</p>
    </div>
    <div class="px-7">
      <h2 class="text-5xl font-bold">15+</h2>
      <p class="font-medium ml-1">Years Experience</p>
    </div>
  </div>
</section>
