---
const items = [
  "First Images",
  "Second Images",
  "Third Images",
  "Forth Images",
  "Fifth Images",
  "Sixth Images",
  "Seventh Images",
  "Eighth Images",
  "Ninth Images",
  "Tenth Images",
  "First Images",
  "Second Images",
  "Third Images",
  "Forth Images",
  "Fifth Images",
  "Sixth Images",
  "Seventh Images",
  "Eighth Images",
  "Ninth Images",
  "Tenth Images",
];
---

<section>
  <div class="justify-center items-center flex p-3 flex-col">
    <h2
      class="text-center text-white bg-[#093830] px-9 py-1 rounded-full font-semibold text-2xl"
    >
      Oru Products
    </h2>
    <h3 class="text-[#c79940] text-4xl font-bold">
      Premium Printing Solutions
    </h3>
    <p class="text-[#c79940] text-sm mt-1">
      We offer a comprehensive range of printing solutions to meet all your
      business needs.
    </p>
  </div>

  <div class="flex gap-3 p-3 overflow-x-scroll hide-scrollbar">
    {items.map((item) => <div class="h-[200px] bg-[#c79940] w-[200px] shrink-0 flex items-center justify-center">{item}</div>)}
  </div>
</section>
