---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import HeroSection from "../components/HomePage/HeroSection.astro"
import Portfolio from "../components/HomePage/Portfolio.astro"
import Products from "../components/HomePage/Products.astro"
import AboutFeatures from "../components/HomePage/AboutFeatures.astro"
import OurProcess from "../components/HomePage/OurProcess.astro"
import "../styles/style.css"
import Testmonials from "../components/HomePage/Testmonials.astro"
import Contact from "../components/HomePage/Contact.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Header/>
		<HeroSection/>
		<Products/>
		<Portfolio/>
		<AboutFeatures/>
		<OurProcess/>
		<Testmonials/>
		<Contact/>
		<Footer/>
	</body>
</html>
