---

---

<header class="bg-[#0a3732] h-[60px] px-5 flex justify-between items-center gap-7 fixed top-0 w-full">
  <img src="/logo.png" alt="" class="h-10" />
  <nav class="ml-auto">
    <ul class="flex gap-6 text-white  text-lg">
      <li class="hover:text-[#c79940] transition cursor-pointer">Home</li>
      <li class="hover:text-[#c79940] transition cursor-pointer">Service</li>
      <li class="hover:text-[#c79940] transition cursor-pointer">Products</li>
      <li class="hover:text-[#c79940] transition cursor-pointer">About</li>
      <li class="hover:text-[#c79940] transition cursor-pointer">Contact</li>
    </ul>
  </nav>
  <button
    class="font-semibold cursor-pointer text-lg px-3 py-1 bg-linear-to-r from-[#b69544] to-[#686749] text-white rounded-lg"
  >
    Get Quote
  </button>
</header>
